<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="card">
  <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng" class="card-img-top">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="card-body">
      <h3>Distance: {{distance}}</h3>
      <h3>Time: {{timeduration}}</h3>
  </div>
</div>
<div>
  <button class="btn btn-info" (click)="gettrafficinfo()">GET INFO</button>
</div>