<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://i.pinimg.com/236x/a9/42/25/a942255049c460df3204e37ae588ba40.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="https://scripteden.com/">{{U.userName}}</a>
                    </div>
                    <div class="desc"><b>User ID: </b>{{U.id}}</div>
                    <div class="desc"><b>Date of Birth: </b>{{U.dob}}</div>
                    <div class="desc"><b>Mobile Number: </b>{{U.mobile}}</div>
                    <div class="desc"><b>Gender: </b>{{U.gender}}</div>
                    <div class="desc"><b>Adhar No: </b>{{U.adharNo}}</div>

                </div>
            </div>

        </div>

	</div>
</div>